@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2.5rem;
  color: #fff;
  text-decoration: none;
}

#header .fa-bars {
  font-size: 3rem;
  z-index: 10000;
  cursor: pointer;
}

#header .logo {
  color: #fff;
  font-size: 2rem;
}

#header .logo i {
  padding: 0 .5rem;
}

#header .logo h1 {
  display: inline;
}

#header .logo {
  text-decoration: none;
}

#header .left .fa-shopping-cart {
  font-size: 2rem;
  cursor: pointer;
}

#header .left .search-container {
  display: inline;
  position: relative;
}

#header .left .search-container #search {
  position: absolute;
  top: -1.5rem;
  right: .8rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5rem;
}

#header .left .search-container #search:hover, #header .left .search-container #search:focus {
  width: 25rem;
}

#header .left .search-container .fa-search {
  position: absolute;
  top: -.7rem;
  left: -3.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  color: #7f0217;
}

#header .left .search-container .fa-search:hover ~ #search {
  width: 25rem;
}

#header .navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
  padding: 0;
  display: none;
}

#header .navbar ul {
  height: 100%;
  width: 35rem;
  background: #f0c5dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style: none;
}

#header .navbar ul li {
  margin: .5rem 0;
}

#header .navbar ul li a {
  display: block;
  height: 4rem;
  width: 25rem;
  background: #fff;
  color: #7f0217;
  border-radius: 5rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 500;
}

#header .navbar ul li a:hover {
  background: #7f0217;
  color: #f2f0da;
  letter-spacing: .5rem;
}

#home {
  min-height: 100vh;
  width: 100vw;
  background: #f0c5dc;
}

#home .slide {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#home .slide .image img {
  width: 50vw;
}

#home .slide .content h1 {
  font-size: 4rem;
  color: #fff;
}

#home .slide .content p {
  font-size: 1.7rem;
  color: #c66692;
}

#home .slide .content .starts {
  margin: 1rem;
}

#home .slide .content .starts i {
  font-size: 1.5rem;
  padding-left: .4rem;
  color: #7f0217;
}

#home .slide .content .price {
  color: #fff;
  font-size: 3.5rem;
  margin: .5rem 0;
}

#home .slide .content button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #7f0217;
  color: #f2f0da;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
}

#home .slide .content button:hover {
  letter-spacing: .1rem;
}

/* category*/
#product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100vw;
}

#product .heading {
  color: #7f0217;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
}

#product .heading::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #cf9e5d;
}

#product .category-container {
  width: 90%;
}

#product .category-container .owl-nav .owl-next, #product .category-container .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #7f0217;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
}

#product .category-container .owl-nav .owl-next {
  right: 1rem;
}

#product .category-container .owl-nav .owl-prev {
  left: 1rem;
}

#product .category-container .title {
  font-size: 3rem;
  color: #644262;
  margin-top: 5rem;
  margin-top: 5rem;
  margin-left: 6rem;
}

#product .category-container .category-slider .category-card {
  height: 40rem;
  width: 30rem;
  margin: 2rem auto;
  -webkit-box-shadow: 0 0 0.9rem #f2f0da;
          box-shadow: 0 0 0.9rem #f2f0da;
  border-radius: .5rem;
  position: relative;
}

#product .category-container .category-slider .category-card .image {
  height: 75%;
  width: 100%;
}

#product .category-container .category-slider .category-card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#product .category-container .category-slider .category-card .content {
  height: 25%;
  width: 100%;
  text-align: center;
}

#product .category-container .category-slider .category-card .content h3 {
  font-size: 3rem;
  color: #7f0217;
}

#product .category-container .category-slider .category-card .content .starts i {
  color: #c0c0c0;
  font-size: 1.5rem;
}

#product .category-container .category-slider .category-card .content .price {
  font-size: 2rem;
  color: #60260d;
}

#product .category-container .category-slider .category-card .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #60260d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: .9;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#product .category-container .category-slider .category-card h4 {
  font-size: 4rem;
  color: #f2f0da;
}

#product .category-container .category-slider .category-card p {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: #f2f0da;
  text-align: center;
}

#product .category-container .category-slider .category-card button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #7f0217;
  color: #f2f0da;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  background: #f2f0da;
  color: #7f0217;
  font-weight: 500;
}

#product .category-container .category-slider .category-card button:hover {
  letter-spacing: .1rem;
}

#product .category-container .category-slider .category-card button:hover {
  background: #2c0f03;
  color: #f2f0da;
}

#product .category-container .category-slider .category-card .share {
  margin-top: 4rem;
}

#product .category-container .category-slider .category-card .share a {
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  text-align: center;
  background: #f2f0da;
  color: #7f0217;
  margin: 0 .5rem;
  border-radius: 5rem;
  text-decoration: none;
}

#product .category-container .category-slider .category-card .share a:hover {
  text-decoration: none;
  background: #7f0217;
  color: #f2f0da;
}

#product .category-container .category-slider .category-card:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#review {
  height: 70vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: url(../image/ice/anna-bratiychuk-3w2AuRZeeSU-unsplash.jpg), -webkit-gradient(linear, left top, left bottom, from(#f7baef), to(#f843da)) no-repeat;
  background: url(../image/ice/anna-bratiychuk-3w2AuRZeeSU-unsplash.jpg), linear-gradient(#f7baef, #f843da) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  position: relative;
}

#review .heading {
  color: #7f0217;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
  padding-top: 7rem;
  color: #7f0217;
  font-weight: 500;
}

#review .heading::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #cf9e5d;
}

#review .heading::after {
  background: #b20909;
}

#review .box-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#review .box-container .review-slider .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#review .box-container .review-slider .image {
  margin-top: 10rem;
  margin-left: 3rem;
}

#review .box-container .review-slider .image img {
  height: 10rem;
  width: 10rem;
  border-radius: 50% 50% 50% 50%;
  border: 0.5rem solid #7f0217;
}

#review .box-container .review-slider .comment {
  height: 20rem;
  width: 45rem;
  background: #f0c5dc;
  border-radius: 2% 2% 0% 40%;
  padding-top: 2rem;
}

#review .box-container .review-slider p {
  color: #7f0217;
  font-size: 1.2rem;
  padding: 2rem;
}

#review .box-container .review-slider p i {
  color: #60260d;
  font-size: 2rem;
  padding: 0rem .5rem;
}

#review .box-container .review-slider h3 {
  text-align: end;
  color: #7f0217;
  margin: 2rem 2rem;
  font-size: 1.5rem;
}

#offer {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#offer .heading {
  color: #7f0217;
  text-align: center;
  font-size: 3rem;
  padding-top: 5rem;
  margin: 2rem 0;
  position: relative;
}

#offer .heading::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  background: #cf9e5d;
}

#offer .images {
  min-height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #7f0217;
}

#offer .images .box {
  height: 25rem;
  width: 25rem;
  text-align: center;
  margin: 4rem;
}

#offer .images .box h3 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

#offer .deal {
  background: url(../image/ice/cone/shape3.jpg), -webkit-gradient(linear, left top, left bottom, from(#e68c9b), to(#f7506c)) no-repeat;
  background: url(../image/ice/cone/shape3.jpg), linear-gradient(#e68c9b, #f7506c) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: screen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
  width: 100%;
}

#offer .deal .images img {
  height: 50vh;
}

#offer .deal .content {
  text-shadow: .1rem .1rem .3rem #ffe3ae;
}

#offer .deal h4 {
  font-weight: 600;
  font-size: 4rem;
  color: #9a5847;
}

#offer .deal p {
  font-size: 2rem;
  color: #b90d20;
  font-weight: 600;
}

#offer .deal .starts i {
  color: #9a5847;
  font-size: 2rem;
}

#offer .deal .price {
  font-weight: 700;
  font-size: 3rem;
  color: #b90d20;
}

#offer .deal button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #7f0217;
  color: #f2f0da;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
}

#offer .deal button:hover {
  letter-spacing: .1rem;
}

#brand .brand-slider img {
  height: 10rem;
  width: 15rem;
  margin: 4rem auto;
}

#newsletter {
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#f7acea)), url(../image/ice/lama-roscu-Wpg3Qm0zaGk-unsplash.jpg) no-repeat;
  background: linear-gradient(whitesmoke, #f7acea), url(../image/ice/lama-roscu-Wpg3Qm0zaGk-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
  text-align: center;
}

#newsletter h1 {
  font-size: 6rem;
  color: #fff;
}

#newsletter p {
  font-size: 3rem;
  color: #c66692;
}

#newsletter input[type="text"] {
  outline: none;
  border: none;
  background-color: #7f0217;
  color: #fff;
  height: 4rem;
  width: 34rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}

#newsletter input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

#newsletter input[type="text"]:-ms-input-placeholder {
  color: #fff;
}

#newsletter input[type="text"]::-ms-input-placeholder {
  color: #fff;
}

#newsletter input[type="text"]::placeholder {
  color: #fff;
}

#newsletter input[type="submit"] {
  display: inline;
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #7f0217;
  color: #f2f0da;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
  margin: 2rem;
  background: #f2f0da;
  color: #7f0217;
}

#newsletter input[type="submit"]:hover {
  letter-spacing: .1rem;
}

#newsletter input[type="submit"]:hover {
  -webkit-box-shadow: .4rem .4rem  #f382bf;
          box-shadow: .4rem .4rem  #f382bf;
}

#footer {
  padding: 2rem 0;
  background: #7f0217;
  width: 100vw;
}

#footer .row {
  width: 100%;
  margin: 0;
}

#footer .brand-info {
  margin: 1rem;
  padding: 0;
}

#footer .brand-info a {
  text-decoration: none;
  color: #f2f0da;
}

#footer .brand-info i {
  padding: 0 .5rem;
  font-size: 2rem;
}

#footer .brand-info h3 {
  display: inline;
  font-size: 2rem;
}

#footer p {
  padding: 2rem;
  margin: 0;
  font-size: 1.5rem;
}

#footer .links {
  padding: 0;
  margin: 1rem;
}

#footer .links h3 {
  font-size: 2rem;
  color: #f2f0da;
}

#footer .links .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#footer .links .nav-links a {
  color: #f2f0da;
  font-size: 1.5rem;
  text-decoration: none;
}

#footer .follow-us {
  padding: 0;
  margin: 1rem;
}

#footer .follow-us h3 {
  font-size: 2rem;
  color: #f2f0da;
}

#footer .follow-us .follow-us-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#footer .follow-us .follow-us-links a {
  color: #f2f0da;
  font-size: 1.5rem;
  text-decoration: none;
}

#footer .credit {
  font-size: 2rem;
  padding-top: 1.5rem;
  width: 100%;
  border-top: .01rem solid #8b041b;
  color: #fff;
}

#footer .credit span {
  color: #fff;
}

.fa-times {
  -webkit-transform: translateX(27rem);
          transform: translateX(27rem);
  padding-top: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #home {
    padding-bottom: 4rem;
  }
  #home .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  #home .slide .content {
    padding: 1rem;
  }
  #home .slide .image img {
    width: 100vw;
  }
  #product .category-container .title {
    margin-left: 0;
    text-align: center;
  }
  #offer .deal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #offer .deal .image img {
    height: auto;
    width: 100%;
  }
  #offer .deal .content {
    text-align: center;
  }
}

@media (max-width: 600px) {
  #review .heading {
    padding-top: 10rem;
  }
  #review .box-container .review-slider .box {
    position: relative;
    height: 50vh;
  }
  #review .box-container .review-slider .box .image {
    position: absolute;
    top: 0;
    margin: 0;
  }
  #review .box-container .review-slider .box .image img {
    border-radius: 5rem;
  }
  #review .box-container .review-slider .box .comment {
    border-radius: 1rem;
    text-align: center;
    width: 35rem;
  }
  #review .box-container .review-slider .box .comment h3 {
    text-align: center;
    margin-top: -2rem;
  }
  #newsletter h1 {
    font-size: 4rem;
  }
  #newsletter p {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */