@mixin button() {
    outline: none;
    border: none;
    height: 4rem;
    width: 16rem;
    background: $cherry;
    color: $vanilla;
    font-size: 1.5rem;
    cursor: pointer;
    margin: .5rem 0;
    border-radius: 5rem;
    text-transform: capitalize;

    &:hover{
        letter-spacing: .1rem;
    }
    
}

@mixin heading() {

    color: $cherry;
    text-align: center;
    font-size: 3rem;
    padding-top: 5rem;
    margin: 2rem 0;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: -1rem; left: 50%;
        transform: translateX(-50%);
        height: .3rem;
        width: 60%;
        background: #cf9e5d;
    }
    
}